<section>
    <div *ngFor="let image of images">
        <div [class.hovered]="image.idx === hoveredImage?.idx">
            <img [src]="image.url" (mouseover)="onMouseIn(image)" (mouseout)="onMouseOut()" (click)="onImageClick(image)">
        </div>
    </div>
    <div *ngIf="imageModalIsOpened">
        <button (click)="closeImageModal()">Close</button>
        <button (click)="selectPrevImage()">prev</button>
        <button (click)="selectNextImage()">next</button>
        <img [src]="selectedImage?.url">
    </div>
</section>
<section>
    <h2> {{ hoveredImage?.title }}</h2>
    <p> {{ hoveredImage?.description }}</p>
</section>