section {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

section::after {
    content: '';
    flex-grow: 999999999;
}

div {
    margin: 2px;
    position: relative;
    height: 200px;
    flex-grow: 1;
    overflow: hidden;
}

img {
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: bottom;
}

.hovered {
    opacity: 0.5;
}

.hovered,
img {
    height: 250px;
}